//home
.panel-top{
	margin-bottom: 20px;
	background: white;
	.search{
		padding: 20px;
		width: 50%;	
	}
	.data{
	}
}
.select2-search{
	padding: 10px 20px !important;
	input{
	}
	input:focus{
		outline: none;
	}
}
