<div class="content">
	<div class="panel-top">
		<div class="search">
			<%= form_tag admins_foods_search_path , method: "post", remote: true  do |f| %>
				<div class="form-search">
					<div class="label-search">Name Restaurant</div>
					<br>
					<%= select_tag 'restaurant_id',options_for_select(@ress.collect{ |restaurant| [restaurant.name, restaurant.id] } ),prompt: "Choose Restaurant" ,class: "form-control"%>	
				</div>
				<br>
					<div class="form-search-type">
						<%= render "/admins/foods/type_search"%>
					</div>
				<br>
				<div class="btn-search">
					<%= submit_tag "Search Foods", class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="data foods">
	</div>
</div>
<script>
  $(document).ready(function(){ 
  	$("#restaurant_id").select2(); 
  });
</script>
<script>
  $(document).ready(function(){ 
  	$("#list_type_id").select2(); 
  });
</script>