<%= form_tag students_path, method: "post" do |f| %>
  Form Content
<% end %>

<form action="/student" class="new_student" id="new_student" method="post">
  <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />

</form>