<div class="content">
	<div class="panel-new">
		<div class="title"><h2>EDIT List Type</h2></div>
		<div class="form-restaurant col-xs-10 col-xs-offset-1"">
			<%= simple_form_for Listtype.find(type.id), url: admins_restaurant_list_type_path(res,type), method: "put" do |f| %>
					<div class="row">
						<%= f.input :name, label: "Name" %>
			 			<%= f.input :type_food, label: "Type Food"%>
					</div>
				  <br>
				  <%= f.button :submit, label: "Edit List Type" , class: " btn btn-primary"%>
			<% end %>
		</div>
		<div class="clearfix"></div>
	</div>
</div>