<div class="content">
	<div class="panel-top">
		<div class="search">
			<%= form_tag admins_search_path , method: "post", remote: true  do |f| %>
				<div class="form-search">
					<p>
						Name restaurant
					</p>					
					<%= select_tag 'restaurant_id', options_for_select(@res.collect{ |restaurant| [restaurant.name, restaurant.id] } ) ,class: "form-control"%>
				</div>
				<br>
				<div class="btn-search">
					<%= submit_tag "Search Types", class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="data types">
	</div>
</div>
<script>
  $(document).ready(function() { $("#restaurant_id").select2(); });
</script>
