// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// restaurant index

.restaurant-index{
	padding-top: 40px;
	width: 1170px;
	margin: auto;
	.list-restaurant{
		.item{
			padding: 0px 10px !important;
			.thumbnail{
				padding: 10px !important ;
				.caption{
					.name {
						h4{
							font-size: 14px;
							font-weight: 700;
						}
					}
					.address{

					}
					.type-restaurant{
						text-transform: uppercase;
				    color: #a1a1a1;
				    font-size: 11px;
				    margin-top: 7px;
					}
				}
			}
			.thumbnail:hover{
				transition: box-shadow .25s;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,.2),0 4px 15px 0 rgba(0,0,0,.19) ;
			}
		}
	}
}

// page show

.main-restaurant{
	background: white !important;
	.restaurant-block{
		padding-top: 30px;
		padding-bottom: 50px;
		width: 1170px;
		margin: auto;	
		.restaurant-cover{
			img{
				border-radius: 5px;
			}
		}
		.restaurant-info{
			.type-food{
				text-transform: uppercase;
		    font-size: 11px;
		    color: #a1a1a1;
		    margin-top: 20px;
		    margin-bottom: 10px;
		    font-weight: 400;
			}
			.restaurant-name{
				font-size: 22px;
				font-weight: 700;
			}
			.delivery{
				table{
					line-height: 2;
					tr{
						th{
							font-weight: 300;
	    				padding-right: 15px;
	    				color: #a1a1a1;
						}
					}
				}
			}
		}
	}
	.container-content{
		background: #f2f2f2;
		.content-restaurant{
			width: 1170px;
			margin:auto;
			.all-info-restaurant{
				position: relative;
				.menu-content{
					ul{
						border: none;
						li{
							padding-right: 20px;
							font-size: 13px;
							text-transform: uppercase;
							font-weight: 400;	
							a{
								color: #585d64;
							}
							a:hover{
								border: none !important;
								background-color: #f2f2f2 !important;
							}
						}
						li.active{
							a{
								border: none !important;
								background-color: #f2f2f2 !important;
								color: #cf2127;
							}
						}
					}
					.tab-content{
						.fixed{
							position: fixed;
							top: 20px;
						}
						.pull-left{
							left: 29.4%;
						}
						.type-food{
							width: 250px;
							background: white;
							padding: 10px;
							ul{
								padding: 10px;
						    list-style: none;
						    line-height: 33px;
						    color: #636363;
						    li{
						    	a:hover{
							    	text-decoration: none;
							    	color: #cf2127;
						    	}
						    	a{
						    		padding: 0px 10px !important;
						    	}
						    }

							}
						}
						.list-food{
							width: 597px;
							.detail-kind-menu{
								padding: 15px;
								background: white;
								.kind-of-food{
									text-transform: uppercase;
							    color: #666;
							    font-size: 14px;
							    padding: 5px 0 0;
								}
								.type-list{
									.box-menu-detail{
										.bottom{
											margin-bottom: 10px !important;
											margin-top: 10px !important ;
										}
										.img-detail{
											padding-left: 0px !important ;
										}
										.name-food-detail{
											padding-right: 0px !important;
									    padding-left: 35px;
									    line-height: 10px;
									    .title-name-food{
												color: #464646;
										    font-weight: 400;
										    font-size: 17px;
										    display: block;
									    }
									    .count-order{
									    	font-size: 11px;
									    	color: #a1a1a1;
									    	strong{
									    		color: black;
									    		font-size: 13px;
									    	}
									    }
									    .add-cart{
									    	display: inline-block;
									    	width: 22px;
										    height: 22px;
										    border-radius: 5px;
										    text-align: center;
										    line-height: 18px;
										    background: #cf2127;
										    color: white;
										    font-size: 20px;
										    font-weight: 700;
										    cursor: pointer !important;
									    }
									    .add-cart:hover{
									    	text-decoration: none;
									    }
										}
									}
								}
							}
						}
					}
				}
				.bill-content{
					background: white;
					margin-top: 40px;
					padding: 0px;
					.div-top{
						border-bottom: solid 1px #eee;
						padding: 15px;
						.amount-item{
							float: left;
							a{
								padding: 5px 10px;
								font-size: 12px;
								background: #eee;
								border-radius: 5px;	
							}
							a:hover{
								text-decoration: none;
								background: #5d6d9a;
								color: white;
							}
							
						}
						.reset-order{
							float: right;
							a{
								padding: 3px 10px;
						    border: solid 1px #cf2127;
						    color: #cf2127;
						    border-radius: 5px;
							}
							a:hover{
								background: #cf2127;
								color: white;
								text-decoration: none;
								cursor: pointer;
							}
						}
					}
					.list-item-order{
						.food-order{
							border-bottom: solid 1px #eee;
						}
					}
					.cart-content{
						background: #f9f9f9;
				    line-height: 2;
						.row{
					    padding: 0 15px;
							border-bottom: solid 1px #eee; 
							margin: 0px;

						}
						.submit{
							padding: 10px;
							background: white;
							.order{
								width: 100%;
								background: #cf2127;
								color: white;
							}
						}
						.order-button{
							padding: 5px 70px;
							background: #cf2127;
							border: none;
							border-radius: 0px;
							margin-left: 55px;
							margin-top: 30px;
							&:focus{
								outline: none;
								outline-offset: none;
							}

						}
					}
				}
				.right-fixed{
					position: fixed;
					right: 65px;
					top: 20px;
					margin-top: 0px;
				}
			}
		}
	}
}
