<div class="navbar navbar-default navbar-fixed">
	<div class="container">
		<div class="navbar-left">
			<div class="brand">
				<%= link_to image_tag("logo.png"), "/"%>
			</div>
		</div>
		<div class="navbar-right">
			<div class="side-user">

			</div>
		</div>
	</div>
</div>
